/* ------ UNIVERSALS ------- */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-image: linear-gradient(to top, #868e47, #749e6c, #6cab92, #78b5b1, #93bcc6, #a7c3d0, #bacad7, #cbd2dc, #d6dce4, #e2e5ec, #edeff5, #f8f9fd);
    background-size: cover;
}

img {
    width: 100%;
    height: 100%;
}

.project-link {
    color: #749abf;
    font-family: 'Fascinate Inline', cursive;
    text-shadow: 2px 2px #224543;
}



ul {
    /* text-align: initial; */
    list-style-position: inside;
}

/* ----------- FONTS ------------ */

* {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-family: 'Fascinate Inline', cursive;
}

/* ------ HEADERS-------- */

h1, h3 {
    color: #868E47
}

h2 {
    background: #fad1cf;
    ;
    color: white;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 100%;
    bottom: 60px;
}

/* -------- ALEX-SPECIFIC CONTENT ------- */

#alexbrand {
    background: #868E47;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    font-size: 24px;
    margin-bottom: 0;
}

#alexpic {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    border: solid 3px;
    border-radius: 25px;
}

/* ------- CONTAINERS ------- */

#main-content-container {
    padding: 20px;
    border: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #9E7275;
    background: #ffffff7a;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

#nav-container {
    background-color: #cbd2dc;
    margin: 0;
    width: 100%;
    padding: 0px;
}

/* -------- ROWS ---------- */

.row {
    justify-content: center;
}

#resume-row {
    margin-top: 25px;
}

/* -------- COLUMNS --------- */

.col-6 {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.col-4 {
    text-align: center;
}

/* ----------- BUTTONS ----------- */

.btn {
    background-color: #CE8C98;
}

/* -------- FOOTER --------- */

.page-footer {
    color: #BBC6D1;
    border-bottom: solid 20px #868e47;
}

#copyright-text {
    margin-top: 20px;
    color: #BBC6D1;
    text-shadow: 2px 2px #78b5b1;
}

#audio-row {
    margin-bottom: 10px;
}

/* Color pallete  */

#ColorPallete {
    color: #F7E6E5;
    color: #D6B2B0;
    color: #9E7275;
    color: #CE8C98;
    color: #B86472;
    color: #868E47;
    color: #647B24;
    color: #576A29;
    color: #44561A;
    color: #7D827D;
    color: #BBC6D1;
    color: #E4E7F2;
    color: #F8F9FD;
}